@charset "utf-8";

@import url(./all.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

fieldset,
input,
button,
select {
  border: 0;
  outline: 0;
  appearance: none;
  /* background-color: transparent; */
  vertical-align: middle;
}

a,
span {
  display: inline-block;
}


img {
  display: block;
}

body {
  font: 400 16px/1.3 'Noto Sans KR', sans-serif;
  color: #002060;
}



/* h1,h2,h3,h4,h5,h6{
  line-height: 1;
} */

.more_btn {
  width: 140px;
  background-color: #002060;
  color: white;
  padding: 12px 10px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  border: 1px solid #002060;
  border-radius: 6px;
  transition: 0.3s;
}

.trans_btn {
  width: 140px;
  padding: 12px 10px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  border: 1px solid #002060;
  border-radius: 6px;
  transition: 0.3s;
  background-color: transparent;
  color: #002060;
}

.more_btn:hover {
  /* transform: scale(1.04); */
  background-color: #1304f1;
  border: 1px solid #1304f1;
  transform: scale(1.05);
}

.trans_btn:hover {
  color: #1304f1;
  border: 1px solid #1304f1;
  transform: scale(1.05);
}

.inner {
  margin: 0 auto;
  width: 1440px;
  max-width: 1440px;
  min-width: 1440px;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  display: block;
}

/* start */

#header_line {
  background-color: #002060;
  color: #ddd;
  font-size: 13px;
}

#header_line .inner>ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header_line .inner>ul>li>a {
  padding: 15px 0;
  font-weight: 300;
}

#header_line .inner>ul>li>a:hover,
#header_line .inner>ul>li>a:focus,
#header_line .inner>ul>li>a:active {
  color: #eee;
  font-weight: 400;
}

#header_line .inner>ul>li>a::after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background-color: #ddd;
  display: inline-block;
  margin: 0 15px;
}

#header_line .inner>ul>li:last-child>a::after {
  display: none;
}

/* header */
#header {
  position: relative;
  z-index: 100;
  box-shadow: 1px 1px 15px rgba(50, 50, 50, 0.1);
}

#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

#header .inner .logo img {
  width: 120px;
  padding: 10px;
}

#header .inner .nav .gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#header .inner .nav .gnb>li>a {
  padding: 10px;
  margin: 0 10px;
  box-sizing: border-box;
  font-size: 18px;
}

#header .inner .nav .gnb>li>a:hover,
#header .inner .nav .gnb>li>a:focus,
#header .inner .nav .gnb>li>a:active {
  color: #1304f1;
  /* font-size: 18px; */
  font-weight: 500;
}

#header .inner .nav .gnb .lnb {
  position: absolute;
  top: 63px;
  left: -274px;
  width: 1440px;
  display: none;
  z-index: 200;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 475%;
  background-color: rgba(1, 10, 28, 0.8);
  top: 132px;
  z-index: 100;
  overflow-y: auto;
  display: none;
}

#header .inner .nav .gnb .lnb .lnb_list {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  color: #777;
  border-top: 1px solid #ccc;
  border-bottom: 0.5px solid #ccc;
}

#header .inner .nav .gnb .lnb .lnb_list>li>a {
  padding: 20px 15px;
  margin: 0 10px;
}

#header .inner .nav .gnb .lnb .lnb_list>li>a:hover,
#header .inner .nav .gnb .lnb .lnb_list>li>a:focus,
#header .inner .nav .gnb .lnb .lnb_list>li>a:active {
  color: #002060;
  font-weight: 500;
  position: relative;
}

#header .inner .nav .gnb .lnb .lnb_list>li>a:hover::after,
#header .inner .nav .gnb .lnb .lnb_list>li>a:focus::after,
#header .inner .nav .gnb .lnb .lnb_list>li>a:active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #002060;
  position: absolute;
  bottom: 0;
  left: 0;
}

#header .inner .nav .gnb .lnb .lnb_content {
  display: flex;
  justify-content: space-around;
  background: #fff;
  padding: 40px 100px;
}

#header .inner .nav .gnb .lnb .lnb_content strong {
  font-size: 20px;
  font-weight: 500;
}

#header .inner .nav .gnb .lnb .lnb_content img {
  margin-bottom: 10px;
}

#header .inner .nav .gnb .lnb .lnb_btn {
  border-top: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
}

#header .inner .nav .gnb .lnb .lnb_btn>a {
  width: 160px;
  padding: 15px 10px;
}

#header .inner .nav .gnb .lnb .lnb_btn>a:last-child {
  color: #002060;
  background-color: transparent;
  border: 1px solid #002060;
  font-weight: 400;
}


#header .inner .nav .gnb .lnb .lnb_btn>a:last-child:hover {
  color: #1304f1;
  background-color: transparent;
  border: 1px solid #1304f1;
  font-weight: 400;
}

#header .inner .nav .gnb .lnb .lnb_list>li:first-child>a{
  color: #002060;
  position: relative;
}

#header .inner .nav .gnb .lnb .lnb_list>li:first-child>a::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #002060;
  position: absolute;
  bottom: 0;
  left: 0;
}

#header .inner .nav .gnb .lnb .more_btn {
  transform: scale(1);
}

#header .inner .nav .gnb .lnb .content_btn {
  width: 120px;
  padding: 10px;
  text-align: center;
  color: #777;
}

#header .inner .nav .gnb .lnb .content_btn:hover,
#header .inner .nav .gnb .lnb .content_btn:focus,
#header .inner .nav .gnb .lnb .content_btn:active {
  color: #002060;
}

#header .inner .header_btn a {
  margin-left: 4px;
}

#header .inner .header_btn a:nth-child(1):hover {
  transform: scale(1);
}

#header .inner .header_btn a:nth-child(2) {
  width: 170px;
  background-color: transparent;
  color: #002060;
  font-weight: 400;
}

#header .inner .header_btn a:nth-child(2):hover,
#header .inner .header_btn a:nth-child(3)>i:hover {
  color: #1304f1;
  transform: scale(1);
}

#header .inner .header_btn a:nth-child(3)>i {
  font-size: 28px;
  vertical-align: middle;
}

/* visual */
#visual .visual_top {
  background: linear-gradient(to left, #01102e 60%, #002060 30%);
}

#visual .visual_top .top_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  color: white;
}

#visual .visual_top .visual_nav {
  background-color: #002060;
  font-size: 26px;
}

#visual .visual_top .visual_nav>p:last-child{
  font-size: 16px;
  color: #ccc;
  font-weight: 300;
  padding-top: 3px;
}

#visual .visual_top .visual_down {
  background-color: #01102e;
  font-weight: 300;
}

#visual .visual_top .visual_down>span>a {
  margin-left: 34px;
  font-size: 18px;
}

#visual .visual_top .visual_down>span>a>i {
  margin-left: 18px;
}

/* */
/* visual */
#visual {
  max-width: 1920px;
  min-width: 1000px;
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
}

#visual ul {
  display: flex;
  width: 300%;
  height: 74%;
}

#visual ul>li {
  width: 100%;
  position: relative;
}

#visual ul>li>img {
  max-width: 1920px;
  margin: 0 auto;
}

#visual ul>li .visual_text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: 100%;
  width: 1440px;
  padding-top: 40px;
  color: white;
}

#visual ul>li .visual_text span {
  font-size: 22px;
  font-weight: 500;
}

#visual ul>li .visual_text h2 {
  font-size: 55px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px;
}

#visual ul>li .visual_text p {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 70px;
}



#visual ul>li .visual_text a {
  margin-bottom: 240px;
}

#visual ul>li .visual_txt_02 {
  color: #002060;
}


/* main nav */
.main_nav {
  padding: 15px 0;
  border-bottom: 1px solid #cfcfcf;
}

.main_nav ul {
  display: flex;
  align-items: center;
}

.main_nav ul>li {
  padding: 0 20px;
  margin-right: 15px;
  color: #777;
}

.main_nav ul>li>a.on{
  color: #002060;
  font-weight: 500;
  position: relative;
}


.main_nav ul>li>a.on::after{
  position: absolute;
  bottom: -16px;
  left: -25%;
  content: "";
  display: block;
  width: 150%;
  height: 3px;
  background-color: #002060;
}

.info {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

.info .inner {
  display: flex;
  padding: 20px 0;
}

.info .inner>div:nth-child(1) {
  width: calc(1440px/2);
  position: relative;
}

.info .inner>div:nth-child(1)::after{
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  background-color: #dadada;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.info .inner>div:nth-child(2) {
  width: calc(1440px/4);
  position: relative;
}
.info .inner>div:nth-child(2)::after{
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  background-color: #dadada;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}


.info .inner>div:nth-child(3) {
  width: calc(1440px/4);
}

.info .inner>div>span {
  font-size: 24px;
}

.info .inner>div>span.gray {
  color: #777;
  font-size: 14px;
  font-weight: 300;
}

/* section 공통 */
section {
  text-align: center;
  margin-bottom: 100px;
}

section .inner h2 {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 10px;
}

section .inner p {
  font-size: 18px;
  color: #777;
  margin-bottom: 30px;
}

/* section01 */
#section01 {
  padding-top: 100px;
}

#section01 img {
  width: 100%;
}

/* section02 */
#section02 {
  position: relative;
}

#section02::after {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 300px;
  background-color: #f4f4f4;
  z-index: -100;
}

#section02 .sel_cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

#section02 .sel_cont>div:nth-child(2) {
  margin-right: 100px;
}

#section02 .sel_cont .sel_txt {
  margin-bottom: 70px;
  margin-top: 30px;
}

#section02 .sel_cont .sel_txt>h4 {
  margin-bottom: 14px;
  font-size: 22px;
}

#section02 .sel_cont .sel_txt>p {
  margin-bottom: 0;
}

#section02 .sel_cont .color_change>h4 {
  margin-bottom: 14px;
  font-size: 22px;
}

#section02 .sel_cont .color_change a {
  width: 32px;
  height: 32px;
  border: 1px solid #002060;
  border-radius: 50%;
  margin: 0 8px 8px 0;
  text-indent: -9999;
}

#section02 .sel_cont .color_change a.circle{
  border: 3px solid #1304f1;
}

#section02 .sel_cont .color_change a:nth-of-type(1) {
  background-color: #243d4f;
}

#section02 .sel_cont .color_change a:nth-of-type(2) {
  background-color: #000001;
}

#section02 .sel_cont .color_change a:nth-of-type(3) {
  background-color: #3f3f41;
}

#section02 .sel_cont .color_change a:nth-of-type(4) {
  background-color: #5c564d;
}

#section02 .sel_cont .color_change a:nth-of-type(5) {
  background-color: #013a65;
}

#section02 .sel_cont .color_change a:nth-of-type(6) {
  background-color: #4c2831;
}

#section02 .sel_cont .color_change a:nth-of-type(7) {
  background-color: #e6e8e9;
}

#section02 .sel_cont .color_change a:nth-of-type(8) {
  background-color: #7e0018;
}

#section02 .sel {
  display: flex;
}

#section02 .sel>div {
  padding: 30px 30px 0 0;
}

#section02 .sel>div img {
  width: 220px;
}

#section02 .more_btn, #section02 .trans_btn{
  transform: scale(1);
}

/* section03 */
#section03 {

  padding-top: 80px;
  background: linear-gradient(#01102e 60%, #fff 10%);
}

#section03 .new_cont {
  color: white;
  margin-bottom: 40px;
}

#section03 .new_cont strong {
  color: #cacaca;
}

#section03 .new_img>div {
  position: relative;
  width: 348px;
}

#section03 .new_img>div>img {
  width: 100%;
}

#section03 .new_img>div .img_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 150px 25px 0;
  box-sizing: border-box;
  background-color: rgba(0, 32, 96, 0.7);
  color: white;
  display: none;
}


#section03 .new_img>div .img_mask>h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

#section03 .new_img>div .img_mask>p {
  color: #fff;
  font-size: 16px;
}

#section03 .new_img>div .plus {
  background-color: rgba(0, 32, 96, 0.7);
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius:50%;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
}

#section03 .new_img>div .plus>a>i {
  font-size: 40px;
  line-height: 80px;
}

#section03 .new_img {
  display: flex;
  justify-content: space-between;
}

#section03 .more_btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

/* section04 */
#section04 .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
}

#section04 .in_info {
  width: 500px;
  padding-left: 90px;
}

#section04 .in_img>div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

/* section05 */
#section05 .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
}

#section05 .ex_info {
  width: 500px;
  padding-right: 100px;
}

/* section06 */
#section06 {
  background-color: #f4f4f4;
  padding: 80px 0 80px;
  margin-bottom: 0;
}

#section06 .more_btn {
  width: 180px;
  margin: 0 2px 30px;
  padding: 15px 10px;
  background-color: transparent;
  color: #002060;
}

#section06 .more_btn:hover{
  color: #1304f1;
}

#section06 .iden_menu .more_btn:nth-child(2){
  background-color: #002060;
  color: #fff;
}

#section06 .more_btn:hover{
  transform: scale(1);
}

#section06 .more_btn:last-child{
  width: 170px;
  background-color: #002060;
  color: white;
  padding: 12px 10px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  border: 1px solid #002060;
  border-radius: 6px;
  transition: 0.3s;
}

#section06 .more_btn:last-child:hover{
  transform: scale(1.05);
  background-color: #1304f1;
  border: 1px solid #1304f1;
}

#section06 .iden_menu>i {
  font-size: 32px;
  vertical-align: middle;
  padding: 0 10px;
}

#section06 .iden_cont {
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

#section06 .iden_cont img {
  width: 100%;
}

#section06 .iden_cont>div:nth-child(2) {
  padding: 40px 0 10px;
  width: 500px;
  display: inline-block;
}

#section06 .iden_cont>div:nth-child(2)>h4 {
  font-size: 28px;
  margin-bottom: 15px;
}

/* section07 */
#section07 {
  margin-bottom: 0;
}

#section07>.inner>span {
  padding: 40px 0;
}

#section07 .desc {
  display: none;
  padding: 30px 0;
  text-align: left;
  border-top: 0.5px solid #ccc;
}

/* footer */
#footer .footer_search {
  background-color: #52504f;
  padding: 38px 0;
}

#footer .footer_search fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .footer_search fieldset i {
  margin-right: 10px;
  color: #aaa;
  font-size: 24px;
  vertical-align: middle;
}

#footer .footer_search fieldset input {
  width: 180px;
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #ddd;
  color: #ddd;
}

#footer .footer_search fieldset select {
  width: 150px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ddd;
  color: #777;
}

/*  */
#footer .footer_nav {
  background-color: #222222;
  padding: 38px 0;
}

#footer .footer_nav .inner {
  display: flex;
  justify-content: space-between;
}

#footer .footer_nav>.inner>ul>li>h4 {
  color: #ddd;
  margin-bottom: 10px;
}

#footer .footer_nav>.inner>ul>li>a {
  color: #aaa;
  font-weight: 300;
  padding: 3px 0;
  font-size: 14px;
}

/*  */
#footer .footer_sns {
  text-align: right;
  padding: 38px 0;
  background-color: #002060;
  color: #ddd;
}

#footer .footer_sns>.inner>span {
  margin-right: 10px;
}

#footer .footer_sns>.inner>a>i {
  font-size: 28px;
  margin-left: 2px;
  vertical-align: middle;
}

/*  */
/* #footer .footer_bottom{
  background-color: #f4f4f4;
} */
#footer .footer_bottom .inner {
  display: flex;
  justify-content: space-between;
  padding: 38px 0;

}

#footer .footer_bottom .inner .bottom_right {
  font-size: 14px;
  color: #777;
}


#footer .footer_bottom .footer_bottom_content {
  display: flex;
  justify-content: space-between;
}

#footer .footer_bottom .footer_bottom_content a {
  padding: 0 10px 10px 0;
}

#footer .footer_bottom .footer_bottom_content li:nth-child(3) a {
  color: #1304f1;
}

#footer .footer_bottom .footer_bottom_content li:last-child a {
  padding-right: 0;
}

dl,
dt,
dd {
  display: inline-block;
}

#footer .footer_bottom .inner .bottom_right dl:last-child {
  margin-bottom: 10px;
}

/* plugin */
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 24px!important;
}

span.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #f4f4f4;
  opacity: 1;
  margin: 0 6px !important;
  border: 1px solid #f4f4f4;

}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 40px;
  height: 13px;
  background-color: #002060;
  opacity: 1;
  border: 1px solid #f4f4f4;
  border-radius: 10px;

}